@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: #1c1c1c;
  color: white;
  font-family: "Space Grotesk", sans-serif;

  /* font-family: "Poppins"; */
}
body.menu-open {
  overflow: hidden;
}

/* FOOTER------- */

footer {
  text-align: center;
  background-color: #9866f2;
  width: 100%;
  padding: 10px;
}

.mobile {
  display: none !important;
}
.invert-filter{
  filter: invert(1);
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 20px;
}

.logo img {
  width: 70px;
  height: auto;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 50px;
}
.social-icons {
  display: flex;

  /* flex-direction: row; */
  /* justify-content: center; */
  column-gap: 1.5rem;
  align-items: center;
}
.sns {
  width: 40px;
}
.social-icons img {
  width: 100%;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  text-decoration: none;

  margin-right: 20px;
}

.nav-links a {
  font-size: 1.5rem;

  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  color: rgb(160, 123, 163);
}

.left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* Replace column-gap with gap */
}

.socials {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  column-gap: 1.5rem;
  align-items: center;
}

.sns-img {
  width: 100%;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}

.sns-img:hover {
  font-size: 2rem;
  transform: scale(1.2);
}

/* HEADINGS */
h1 {
  font-size: 3rem;
  position: relative;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  font-size: 24px;
}

/* SECTIONS--------------------------------- */
.section-cont {
  max-width: 100vw;
}

.content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
  row-gap: 50px;
  margin: auto;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.btn {
  display: inline-flex; /* Use flex display */
  align-items: center; /* Vertically center items */
  padding: 1rem 2.8rem;
  /*background: #9d69a3;box-shadow: 0 0 1rem (lightblue)transition: 0.3s;
  };*/
  font-size: 1.6rem;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;*/
  box-shadow: 1px 1px 10px rgb(210 122 221);

  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #895cf2 0%,
    #ffabf4 51%,
    #895cf2 100%
  );
  gap: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-text {
  display: block;
  gap: 10px;
}
.icon {
  vertical-align: middle;
  color: white; /* Vertically align the icon */
}

.msg {
  filter: drop-shadow(0px 1px 7px black);
}

/* 1st section */
@keyframes blink {
  0% {
    content: "";
  }
  50% {
    content: "";
  }
  100% {
    content: "";
  }
}
.blink:after {
  animation: blink linear 1.5s infinite;
  content: " ";
  position: absolute;
  right: -60px;
  top: -10px;
}
.subtitle {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.hero-img {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  position: relative;
}

.shape {
  border-radius: 26% 74% 68% 32% / 46% 55% 45% 54%;
  background: linear-gradient(
    196deg,
    rgba(196, 10, 159, 1) 40%,
    rgba(84, 29, 170, 1) 74%
  );
  background-image: url(AvatarMaker.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  z-index: 0;
  transition: border-radius 1s ease-out;
  animation: morph 5s ease-in-out infinite both alternate;
  overflow: hidden;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 26% 74% 68% 32% / 46% 55% 45% 54%;
  }
}

/* about section */
#about {
  background-color: #9866f2;
  padding-bottom: 13rem;
  padding-top: 4rem;
}

.about-box {
  margin: auto;
  width: 500px;
  border: 2px solid black;
  font-size: 1.6rem;
  text-align: center;
}
.table-row {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 800px;
  border-radius: 10px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.3);
  color: black;
  margin-top: -10rem;
}
.about-icon {
  width: 120px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex-basis: 20%;
}
.skills-icon {
  width: 70px;
  display: flex;
  flex-direction: column;
  /* filter: invert(1); */
}
.skill > span {
  font-size: 14px;
  text-align: center;
  padding: 5px;
  font-family: Sen, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  width: 100%;
  border: 1px solid grey;
  border: transparent;
  justify-content: space-evenly;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* gap: 19%; */
}

.left-r {
  width: 50%;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 1px solid grey;
}
.right-r {
  width: 50%;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid grey;
}
.row > p {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.skills-r {
  flex-direction: row;
  flex-wrap: wrap;
}
.skills-box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
}
i {
  font-size: 70px;
  padding: 10px;
}
.skill-icon {
  width: 50px;
}
#navbar-mobile {
  display: none;
}
.cont-div {
  width: 50%;
}
#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 10px;
}

.contact-row {
  display: flex;
  flex-direction: row;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  background-color: #a3a3a330;
  padding: 1.75rem;
  width: 500px;
  border-radius: 10px;
}

.form-control {
  height: 3rem;
  width: 95% !important;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.sub-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 60%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .subtitle {
    font-size: 20px;
  }
  .shape {
    width: 300px;
    height: 300px;
    background-size: cover;
  }
  .logo img {
    width: 50px;
  }
  .about-box {
    width: 90%;
    font-size: 18px;
  }
  .table-row {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.3);
    color: black;
  }
  .row {
    width: 100%;
    border: none;
    padding: 10px 0 10px 0;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
    z-index: 2;
    font-size: 3rem;
  }
  .logo-container {
    flex: 1;
    /* Take full width on mobile */
    order: -1;
    /* Move the logo to the left end */
  }

  .mobile {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    z-index: 2;
    margin: auto;
    padding: 50px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: right;
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: normal;
  }

  .logo-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .social-icons {
    display: none;
  }
}
