* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
  }

  body {
    box-sizing: border-box;
    background-color: #1c1c1c;
    color:white;
    text-decoration: none;
    font-family: "Poppins";
  }

  /* NAVIGATION CSS*/ 
  #header {
    position: relative;
    top: 0;
    left: 0;
    height: 8rem;
    padding: 1rem 1.3rem 5rem;
  }

  .nav-logo {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }

  .img-logo {
    width: 50px;
    height: auto;
  }
  .head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .socials {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    column-gap: 1.5rem;
    align-items: center;
  }
  
  .sns-img {
    width: 100%;
  }
  
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0px;
    font-size: 1.5rem;
  }
  .head-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
  }
  
  .head-list li {
    flex: 0 0 auto;
    margin-left: 1rem;
    list-style: none;
  }
  .head-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .head-list li a:hover,
  .head-list li a:active {
    color: rgb(160, 123, 163);
  }
  
  #menu-icon,
  #close-icon {
    display: none;
  }

  /* HEADINGS */
  h1 {
    font-size: 3rem;
    position:relative;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }

  /* SECTIONS--------------------------------- */
  .section-cont{
    max-width: 100vw;
  }

  .content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.3rem;
    row-gap: 50px;
    margin: auto;
  }

  .column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .btn {
    display: inline-flex; /* Use flex display */
    align-items: center; /* Vertically center items */
    padding: 1rem 2.8rem;
    /*background: #9d69a3;box-shadow: 0 0 1rem (lightblue)transition: 0.3s;
  };*/
    font-size: 1.6rem;
    cursor: pointer;
    color: white;
    letter-spacing: 0.1rem;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;*/
    box-shadow: 1px 1px 10px rgb(210 122 221);
  
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #895cf2 0%,
      #ffabf4 51%,
      #895cf2 100%
    );
    gap: 10px;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-text {
    display: block;
    gap: 10px;
  }
  .icon {
    vertical-align: middle;
    color: white; /* Vertically align the icon */
  }
  
  .msg {
    filter: drop-shadow(0px 1px 7px black);
  }
  
  /* 1st section */
  @keyframes blink {  
    0% { content:""; }
    50% { content:""; }
    100% { content:""; }
  }
  .blink:after {
    animation: blink linear 1.5s infinite;
    content:" ";
    position: absolute;
    right: -60px;
    top:-10px;
  }
  .subtitle {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  /* 
  .moving-text {
    border-right: 0.1em solid white;
    white-space: nowrap;
    margin: 0 auto;
    color: pink;
    overflow: hidden;
    animation: typing 2s steps(16, end), blink-caret 0.75s step-end infinite;
  } */
  /* @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(255, 255, 255);
    }
  } */

  .hero-img {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    /* margin: auto; */
    position: relative;
  }
  
  .shape {
    border-radius: 26% 74% 68% 32% / 46% 55% 45% 54%;
    background: linear-gradient(
      196deg,
      rgba(196, 10, 159, 1) 40%,
      rgba(84, 29, 170, 1) 74%
    );
    background-image: url(AvatarMaker.png);
    width: 400px;
    height: 400px;
    z-index: 0;
    transition: border-radius 1s ease-out;
    animation: morph 5s ease-in-out infinite both alternate;
    overflow: hidden;
  }
  
  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    100% {
      border-radius: 26% 74% 68% 32% / 46% 55% 45% 54%;
    }
  }

  /* about section */
  #about {
    background-color:#9866F2;
    }

  .about-box 
 {
  margin: auto;
  width: 500px;
  border: 2px solid black;
  font-size: 1.6rem;
  text-align: center;
 }